<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Category</th>
        <th>Prize</th>
        <th>Production Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movi: ${all}">
        <td th:text="${movi.id}"></td>
        <td th:text="${movi.title}"></td>
        <td th:text="${movi.category}"></td>
        <td th:text="${movi.prize}"></td>
        <td th:text="${movi.production_year}"></td>
        <td>
            <form th:action="@{/movies/details}" method="post">
                <input type="hidden" name="id" th:value="${movi.id}" />
                <input type="submit" value="Details" class="btn btn-secondary" />
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>